Source: expat
Section: core
Priority: optional
Maintainer: Alexander Kerner <lunohod@openinkpot.org>
Standards-Version: 3.7.3
Format: 3.0 (native)
Build-Depends: debhelper (>= 5.0.22), dpatch
XCS-Cross-Host-Build-Depends: debhelper, dpatch
Homepage: http://expat.sourceforge.net
Vcs-Browser: http://svn.debian.org/wsvn/debian-xml-sgml/packages/expat/trunk/
Vcs-Svn: svn://svn.debian.org/svn/debian-xml-sgml/packages/expat/trunk/
DM-Upload-Allowed: yes

Package: libexpat1-dev
Section: libdevel
Priority: optional
Architecture: any
Provides: libexpat-dev
Conflicts: libexpat-dev
Depends: libexpat1 (= ${binary:Version}), libc6-dev | libc-dev
Description: XML parsing C library - development kit
 This package contains the header file and development libraries of
 expat, the C library for parsing XML.  Expat is a stream oriented XML
 parser.  This means that you register handlers with the parser prior
 to starting the parse.  These handlers are called when the parser
 discovers the associated structures in the document being parsed.  A
 start tag is an example of the kind of structures for which you may
 register handlers.

Package: libexpat1
Section: core
Priority: optional
Architecture: any
Conflicts: wink (<= 1.5.1060-4)
Depends: ${shlibs:Depends}
Description: XML parsing C library - runtime library
 This package contains the runtime, shared library of expat, the C
 library for parsing XML.

Package: expat
Section: core
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}
Description: XML parsing C library - example application
 This package contains xmlwf, an example application of expat, the C
 library for parsing XML.  The arguments to xmlwf are one or more
 files which are each to be checked for XML well-formedness.
